:root {
    --primary-color: #ecddae;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 70px;
    background-color: var(--primary-color);
    gap: 5px;
    padding-left: 30px;
}

body {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog {
    border: none;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.showDialog {
    position: absolute;
    right: 20px;
    top: 100px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.20s;
}

.addButton {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.20s;
}

.deleteBtn {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.20s;
    color: white;
}

.deleteBtn:hover {
    background-color: rgb(157, 13, 13);
}

.showDialog:hover,
.addButton:hover {
    background-color: #c0b287;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: none;
    gap: 10px;
    padding: 30px 20px;
}

form {
    position: relative;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px; width: 30px;
    background-color: rgb(158, 155, 155);
    border-radius: 50%;
    border: none;   
    transition: all 0.20s;
    font-weight: bold;
}

.closeButton:hover {
    opacity: 0.7;
}

input {
    height: 25px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 5px;
    padding: 7px 12px;
}

.booksContainer table {
    border-collapse: collapse;
    width: 50vw;
}

thead, tbody {
    margin: 0px;
}

th, td {
    padding: 10px 15px;
    border: 1px solid rgb(220, 215, 215);
    text-align: center;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
